html {
    background: url('../images/starfield5.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper {
	max-width: 960px;
	margin: 0 auto;
}
@font-face {
	font-family: STgliph;
	src: url(../fonts/tr.ttf);
}
@font-face {
	font-family: STold;
	src: url(../fonts/FINALOLD.TTF);
}
@font-face {
	font-family: okuda;
	src: url(../fonts/Okuda.otf);
}
@font-face {
	font-family: final;
	src: url(../fonts/Finalnew.ttf);
}
h1 {
	font-family: STold;
	font-size: 600%;
	color: #f2c300;
}
.header {
	background: #000;
	width: 100%;
	padding: 1% 0 .5% 0;
	border-bottom: solid 1px #f2c300;
}
.navRight {
	font-family: okuda;
	float: right;
	margin-right: 15%;
	color : #fff;
	font-size: 160%;
	margin-top: -8.5%;
}
.navRight p {
	text-align: center;
	margin-top: 45px;
}
#search-form {
	position: relative;
}
#input-gif {
	margin-top: 8px;
	position: absolute;
	height: 30px;
	width: 120%;
}
#add-gif {
	position: absolute;
	left: 125%;
	top: 18px;
	font-family: final;
	font-size: 18px;
	color: rgb(223, 0, 0);
	background: transparent;
	background-color: #000;
	border: solid 2px rgb(223, 0, 0);
	border-radius: 0;
	-webkit-appearance: none;
}
#add-gif:hover {
	cursor: pointer;
	color: rgb(255, 204, 94);
	border: solid 2px rgb(255, 204, 94);

}
#add-gif:focus {
	outline: none;
}
.buttons {
	padding: 2% 5% 0 5%;
	background-color: rgba(181, 204, 148, 0.8);
}
.btn-gif:hover {
	cursor: pointer;
	color: #fff;
}
.btn-gif:focus {
	outline:none;
	background-color: #649fc1;
}
.gifs {
	padding: 30px 5%;
	background-color: rgba(181, 204, 148, 0.8);
	/* Prevent vertical gaps */
 	/*line-height: 0;*/
 	/*-webkit-column-count: 3;*/
 	-moz-column-count:    3;
 	column-count:         3;

}

.gif {
	/*float: left;*/
	padding: 6px 6px 20px;
	border-radius: 8px;
	background-color: #e49b97;
	margin-right: 6px;
	margin-bottom: 5px;
	display: inline-block;
}
.gif p {
	font-family: okuda;
	font-size: 33px;
	margin-top: 17px;
	margin-left: 12px;
}
.gif-thumb {
  width: 260px;
}

.gif-thumb:hover {
	cursor: pointer;
}
.btn {
	float: left;
	margin-left: 5px;
	padding: 5px 8px;
}
.btn-gif {
	background: #88c6ea;
	border: solid 1px #cfebfc;
	font-family: okuda;
	font-size: 200%;
}
@media screen and (max-width: 960px) and (min-width: 768px) {
	.navRight {
		font-family: okuda;
		float: right;
		margin-right: 17%;
		color : #fff;
		font-size: 160%;
		margin-top: -11.5%;
	}
	.buttons {
		padding: 2% 2% 0 2%;
		background-color: rgba(181, 204, 148, 0.8);
	}
	.gifs {
		padding: 20px 2%;
		background-color: rgba(181, 204, 148, 0.8);
		/* Prevent vertical gaps */
/*	 	line-height: 0;
	 	-webkit-column-count: 3;*/
	 	-moz-column-count:    3;
	 	column-count:         3;
	}
	.gif-thumb {
	  /*width: 260px;*/
	  width: 100%;
	}	
}
@media screen and (max-width: 767px) and (min-width: 640px) {
	#add-gif {
		position: absolute;
		left: 122%;
		top: 18px;
		font-family: final;
		font-size: 18px;
		color: rgb(223, 0, 0);
		background: transparent;
		background-color: #000;
		border: solid 2px rgb(223, 0, 0);
		border-radius: 0;
		-webkit-appearance: none;
	}
	.navRight {
		font-family: okuda;
		float: right;
		margin-right: 19%;
		color : #fff;
		font-size: 160%;
		margin-top: -14%;
	}
	.buttons {
		padding: 2% 2% 0 2%;
		background-color: rgba(181, 204, 148, 0.8);
	}
	.gifs {
		padding: 20px 2%;
		background-color: rgba(181, 204, 148, 0.8);
		/* Prevent vertical gaps */
	 	line-height: 0;
	 	-webkit-column-count: 2;
	 	-moz-column-count:    2;
	 	column-count:         2;
	}
	.gif-thumb {
	  /*width: 260px;*/
	  width: 100%;
	  -webkit-cursor: pointer;
	}	
}
@media screen and (max-width: 639px) {
	h1 {
		font-family: STold;
		font-size: 600%;
		color: #f2c300;
		margin-left: 15%;
	}
	.navRight {
		font-family: okuda;
		/*float: right;*/
		clear: right;
		margin-right: 45%;
		color : #fff;
		font-size: 160%;
		margin-top: -1%;
	}
	.navRight p {
		text-align: center;
		margin-top: 2px;
	}
	#search-form {
		position: relative;
	}
	#input-gif {
		margin-top: 8px;
		position: relative;
		height: 30px;
		width: 120%;
	}
	#add-gif {
		/*position: absolute;*/
		left: 125%;
		top: 18px;
		font-family: final;
		font-size: 18px;
		color: rgb(223, 0, 0);
		background: transparent;
		background-color: #000;
		border: solid 2px rgb(223, 0, 0);
		border-radius: 0;
		-webkit-appearance: none;
	}
.buttons {
		padding: 2% 2% 0 2%;
		background-color: rgba(181, 204, 148, 0.8);
}
.btn {
	float: left;
	margin-left: 5px;
	padding: 2px 8px;
}
.btn-gif {
	background: #88c6ea;
	border: solid 1px #cfebfc;
	font-family: okuda;
	font-size: 160%;
	border-radius: 4px;
}
.gifs {
	padding: 20px 2%;
	background-color: rgba(181, 204, 148, 0.8);
	/* Prevent vertical gaps */
 	line-height: 0;
 	-webkit-column-count: 2;
 	-moz-column-count:    2;
 	column-count:         2;
}
.gif-thumb {
	  /*width: 260px;*/
	  width: 100%;
}
.gif p {
	font-family: okuda;
	font-size: 26px;
	margin-top: 17px;
	margin-left: 12px;
}

}